@media (min-width: 768px) {
  header nav {
    padding: 20px 30px 0 30px;
  }
  .intro {
    position: relative;

    padding: 101px 90px 0;

    text-align: left;
  }
  .intro p {
    width: 295px;
  }
  .intro::after {
    position: absolute;
    top: 10px;
    right: 90px;

    display: block;

    width: 200px;
    height: 360px;

    content: "";
    transform: rotate(5.5deg);

    background-image: url(../img/phone.png);
    background-size: cover;
  }
  .keypoints {
    padding: 193px 90px 90px;
  }
  .keypoints-wrapper {
    width: calc(260px + 260px + 68px);
    margin: 0 auto;
  }
  .keypoints h2 {
    display: block;

    margin-bottom: 30px;
  }
  .keypoints article {
    display: inline-block;

    margin: 0;
  }
  .keypoints article:nth-child(odd) {
    margin-right: 64px;
  }
  .keypoints article+article {
    margin-top: 0;
  }
  .keypoints article:nth-child(3) {
    margin-top: 60px;
  }
  .reviews {
    display: block;

    margin-top: 0;
    padding: 30px 90px 60px;
  }
  .reviews blockquote {
    display: inline-block;

    width: 260px;
    margin-top: 0;
  }
  .reviews blockquote:nth-child(3) {
    margin: 30px 25px;
  }
  .price {
    padding: 60px 90px 100px;
  }
  .price h2 {
    text-align: left;
  }
  .price-item-wrapper {
    display: flex;

    justify-content: space-between;
  }
  .price-item + .price-item {
    margin-top: 0;
  }
  .price-item {
    width: calc(50% - 30px);
    min-width: 260px;
    max-width: 407px;
    margin: 0;
  }
  footer {
    padding: 0 90px 30px;
  }
}








/* EOL */
